.custom-sidebar {
    width: 15em;
    /* background-color: lightgrey; */
    color: dimgray;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    float: left;
    opacity: 0.7;
}

.custom-sidebar .hover-text a :hover {
    color: black
}

.custom-sidebar .hover-text a :active {
    color: black
}

.custom-sidebar .hover-text {
    color: black
}
.custom-sidebar .hover-text a {
    color: black;
}
.custom-sidebar div {
    background-color: lightgray !important;
}

.sidebar-icon {
    background-color: lightgray !important;
}

.custom-sidebar .pro-icon {
    background-color: lightgray;
}